/* Text Bubble*/
.tooltip {
  /*border-bottom: 1px dotted #000000; color: #000000; outline: none;*/
  cursor: help;
  text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.tooltip:hover span {
  text-align: left;
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute; left: 1em; top: 2em; z-index: 99;
  margin-left: 0; width: 200px;
}
.tooltip:hover img {
  border: 0; margin: -10px 0 0 -35px;
  float: left; position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
  display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { color: black; background: #ddd; border: 1px solid #444; }
.critical { color: black; background: #FFCCAA; border: 1px solid #FF3334; }
.help { color: black; background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { color: black; background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { color: black; background: #FFFFAA; border: 1px solid #FFAD33; }
// Pagination links
a.active:visited, a.active:link { color: #00f; text-decoration: none;}
a.active:hover { color: #0ef; text-decoration: none;}
a.inactive:visited, a.active:link { color: #aaa; text-decoration: none;}
a.active:hover { color: #0ef; text-decoration: none;}
a, a.inspector {
  color: #111111;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font: 8px;
  text-decoration: underline;
  text-shadow: 0px 0px 1px #000000;
}
a:visited { color: #000066;}
a:hover {
  color: #222277;
}
a.tooltip {
  text-decoration: underline;
}
td {
  vertical-align: top;
}
.title {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #000000;

}
.appointment-detail {
  border:1px solid #000000;
  width: 850px;
  background-color: #eee;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px #000000;
  -moz-box-shadow: 0px 0px 4px #000000;
  box-shadow: 0px 0px 4px #000000;
}
hr.doc {
  border:1px solid #eee;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0px 0px 2px #000000;
}
ul.navbar {
  padding:0px;
  list-style-type: none;
  margin:0;;
}
li.navbar-item {
  display: inline-table;
}
table {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 90%;
}
td.label {
  width: 200px;
  text-shadow: 0px 0px 2px #000000;
}
.values {
  width: 200px;
}
td.subheads {
  padding-top: 5px;
  //padding-right: 5px;
  padding-bottom: 5px;
  //padding-left: 5px;
}

textarea {
  vertical-align: text-bottom;
  width: 600px;
}
button {
  vertical-align: middle;
  height: 22px;
  cursor: pointer;
}
img.mini-buttons {
  height: 14px;
  width: 14px;
}
