{% extends "base.html" %}
{% load util %}
{% block heading %} {% endblock %}
{% block toolbar %}
{% with entries|classname as modelclass %}
  {% if modelclass == 'DiggPage' %}
    {% if entries.has_previous %}
      <button><a href="?page={{entries.previous_page_number}}"><img src="/media/images/Arrow-Left.png" class="mini-buttons"></a></button>
    {% else %}
      <button><a href="#"><img src="/media/images/Arrow-Left.png" class="mini-buttons"></a></button>
    {% endif %}
    {% for entry in entries.page_range %}
      {% if entries.number == entry %}
      <button><a class="active" href="?page={{ entry }}">{{ entry }}</a></button>
      {% elif not entry %}
      <button><a class="active" href="#">...</a></button>
      {% else %}
      <button><a class="inactive" href="?page={{ entry }}">{{ entry }}</a></button>
      {% endif %}
    {% endfor %}
    {% if entries.has_next %}
      <button><a href="?page={{entries.next_page_number}}"><img src="/media/images/Arrow-Right.png" class="mini-buttons"></a></button>
    {% else %}
      <button><a href="#"><img src="/media/images/Arrow-Right.png" class="mini-buttons"></a></button>
    {% endif %}
  {% endif %}
{% endwith %}
{% endblock %}
{% block content %}
  {% for entry in entries %}
  <h4 class="term-title">{{ entry.title }}:</h4>
  <p class="definition">{{ entry.definition }}</p>
  {% endfor %}
{%  endblock %}
