{% extends "base.html" %}
{% load set_var %}
{% block extrahead %}
<link href="/media/css/appointment.css" rel="stylesheet" type="text/css" media="screen">
<link href="/media/css/popup.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>{{ site }} - Appointments</h1>
<div class="pagination">
    <button rel="tooltip" onclick="location.reload(); return TRUE;"><img src="/media/images/Refresh.png" class="mini-buttons"></button>
    <button ><a href="#"><img class="mini-buttons" src="/media/images/Home.png"/></a></button>
  {% if appointment.has_previous %}
    <button><a href="?page={{appointment.previous_page_number}}"><img src="/media/images/Arrow-Left.png" class="mini-buttons"></a></button>
  {% else %}
    <button><a href="#"><img src="/media/images/Arrow-Left.png" class="mini-buttons"></a></button>
  {% endif %}
  {% for pg in appointment.paginator.page_range %}
    {% if appointment.number == pg %}
    <button><a class="active" href="?page={{pg}}">{{ pg }}</a></button>
    {% else %}
    <button><a class="inactive" href="?page={{ pg }}">{{pg}}</a></button>
    {% endif %}
  {% endfor %}
  {% if appointment.has_next %}
    <button><a href="?page={{appointment.next_page_number}}"><img src="/media/images/Arrow-Right.png" class="mini-buttons"></a></button>
  {% else %}
    <button><a href="#"><img src="/media/images/Arrow-Right.png" class="mini-buttons"></a></button>
  {% endif %}
</div>
  <hr />
  <table border="0" cellpadding="0" cellspacing="0">
    <tr class="heading">
      <th class="tooltip">Customer<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Customer Email:</em> Just click the links below and send an email to our customer</span></th>
      <th class="tooltip">Phone<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Phone Number:</em>This should be the customer's primary phone number.</span></th>
      <th class="tooltip">Address<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Inspection Address:</em>This is the inspection address.  Just click the links below and get the house's detailed information.</span></th>
      <th class="tooltip">Date and Time of Request<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Date and Time of Request:</em>This is the date and time of the inspection.</span></th>
      <th class="tooltip">Inspector<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Inspector Name:</em>Click the buttons below to change the inspector.</span></th>
      <th class="tooltip">Remove<span class="custom critical"><img src="/media/images/Critical.png" height="32" width="32" /><em>Remove:</em> Just click the buttons below and remove the appointment. This doesn't remove it from the database but removes it from the appointment view.  <b>It can be undone.</b></span></th>
      <th class="tooltip">Accepted<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Appointment Accepted:</em> Just click the button below and the appointment will be accepted.</span></th>
      <th class="tooltip">Aggrement Meeting<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Pre-Inspection Meeting:</em> Just click the button below once the Pre-Inspection Aggrement meeting hase been completed and payment is received.</span></th>
      <th class="tooltip">Inspection Completed<span class="custom info"><img src="/media/images/Info.png" height="32" width="32" /><em>Inspection Completed:</em> Just click the button below once the inspection is complete.</span></th>
      <th class="tooltip">Report Completed<span class="custom warning"><img src="/media/images/Warning.png" height="32" width="32" /><em>Report Commpeted:</em> When the inspection report is commpleted the report will be removed form the appointments listing</span></th>
    </tr>
  {% for a in appointment.object_list %}
    <tr class="content">
      <td><a class="tooltip" href="Mailto:{{ a.email }}" title=>{{ a.full_name }}<span class="classic"><em>Send Email</em> to {{ a.full_name }}?</span></a></td>
      <td>{{ a.phone }}</td>
      <!-- DONE - Add link to inspection_address detial view.-->
      <td><a href="{{ a.slug }}">{{ a.inspection_address }}</a></td>
      <!-- DONE - Do a comparitive of date and time conflicts -->
        {% ifchanged a.date_requested %}
          {% if a.date_requested > now %}
            <td class="clear">{{ a.date_requested }} at {{ a.time_requested }}</td>
          {% else %}
          <td class="pastdate">{{ a.date_requested }} at {{ a.time_requested }} <b>(PAST DUE)</b></td>
          {% endif %}
        {% else %}
          {% if a.date_requested > now %}
          <td class="conflict">{{ a.date_requested }} at {{ a.time_requested }} <b>(DATE CONFLICT)</b></td>
          {% else %}
          <td class="conflictPastdate">{{ a.date_requested }} at {{ a.time_requested }} <b>(PAST DUE and DATE CONFLICT)</b></td>
          {% endif %}
        {% endifchanged %}
      <td>
        <a class="inspector" href="inspector/{{ a.slug }}">{% if a.inspector.first_name == "Default" %} NONE {% else %} {{ a.inspector }} {% endif %}</a>
      </td>
      <!-- DONE - Try to  make these into submit buttons to change status -->
      <td class="image">
        <form id="Delete" method="post">{% csrf_token %}
          <input type="hidden" name="app_id" value="{{a.pk}}" />
          <button type="submit" name="delete" value="{{a.pk}}" onclick="return confirm('Remove appointment for {{ a.full_name}}?');">
          <img src="/media/images/Delete.png" class="mini-buttons"/>
          </button>
        </form>
      </td>
      <td class="image">
        <form method="post" >{% csrf_token %}
          <input type="hidden" name="app_id" value="{{a.pk}}" />
          <button type="submit" name="accepted" value="{{a.pk}}">
          <img src="/media/images/{{a.accepted}}.png" class="mini-buttons"/>
          </button>
        </form>
      </td>
      <td class="image">
        <form method="post">{% csrf_token %}
          <input type="hidden" name="app_id" value="{{a.pk}}" />
          <button type="submit"  name="meeting" value="{{a.pk}}">
            <img src="/media/images/{{a.pre_aggrement_meeting}}.png" class="mini-buttons"/>
          </button>
        </form>
      </td>
      <td class="image">
        <form method="post">{% csrf_token %}
          <input type="hidden" name="app_id" value="{{a.pk}}" />
          <button type="submit" name="inspection" value="{{a.pk}}">
          <img src="/media/images/{{a.inspection_completed}}.png" class="mini-buttons"/>
          </button>
        </form>
      </td>
      <td class="image" >
        <form method="post">{% csrf_token %}
          <input type="hidden" name="app_id" value="{{a.pk}}" />
          <button type="submit" name="report" value="{{a.pk}}">
          <img src="/media/images/{{a.report_completed}}.png" class="mini-buttons"/>
          </button>
        </form>
      </td>
    </tr>
  {% endfor %}
    <tr class="footer"><td class="footer" colspan="10"></td></tr>
  </table>
<script type="text/javascript" src="/media/js/jquery-1.9.1.min.js"></script>
<script src="/media/js/jquery.popup.min.js"></script>
<script type="text/javascript">$('.inspector').popup();</script>
{% endblock %}
